<!DOCTYPE html>
<html>
  <head>
    <title>Bayanihan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag('https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css') %>
	<%= javascript_include_tag('https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js') %>
  </head>

  <body>

    <%= yield %>
    
  </body>
</html>
