<!DOCTYPE html>
<html>
  <head>
    <title>Bayanihan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag('bootstrap.min.css') %>
    <%= stylesheet_link_tag('https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css') %>
    <%= stylesheet_link_tag('https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css') %>
    <%= stylesheet_link_tag('http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css') %>
    <%= stylesheet_link_tag('custom.css') %>
    <%= stylesheet_link_tag('http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css') %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Fjalla+One.css') %>
  </head>

  <body>

    <%= yield %>
    
  </body>

aaa
  <%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js', "data-turbolinks-track" => true) %>
  <%= javascript_include_tag('bootstrap.min.js', "data-turbolinks-track" => true) %>
  <%= javascript_include_tag('https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js', "data-turbolinks-track" => true) %>
  <%= javascript_include_tag('leaflet.awesome-markers.js', "data-turbolinks-track" => true) %>
  <%= javascript_include_tag('map.js', "data-turbolinks-track" => true) %>
  <%= javascript_include_tag('npm.js', "data-turbolinks-track" => true) %>

  <script>
    $('.nav-btn').click(function(e){
      console.log($(e.target).text());
      if ($(e.target).text() == "Map"){
        $('#frame').hide();
        $('#map').show();
      } else {
        $('#frame').show();
        $('#map').hide();
      }
    });
  </script>

</html>
